<section class="joinnow">
    <div class="register col-lg-4 m-auto shadow-lg">
      <h1 class="text-center mb-3">Join Now</h1>
        <form>
          <div class="form-group">
            <label for="exampleInputUsername1">Username</label>
            <input type="Username" placeholder="Enter your Name" class="form-control" id="exampleInputUsername1" required>
            
          </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email"  placeholder="Example@gmail.com" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPhonenumber1">Phone Number</label>
              <input type="phonenumber" placeholder="Enter Your Number" class="form-control" id="exampleInputNumber1" required>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" placeholder="Enter password" class="form-control" id="exampleInputPassword1" required>
            </div>
            <button type="submit" class="btn btn-primary col-lg-12">Register</button>
          </form>

    </div>
</section>