<section class="about container">
    <h1 class="text-center mb-5">About Us</h1>
    <p>
        SounderGrad endeavours to solve the programming issue at scale for India. We aim to provide high quality skilling solutions that are necessary for India’s demographic dividend to be realized at the earliest.
    </p>
    <p>
        We do this by providing relevant, contemporary and recording sessions along with books services in sync with the industry requirements. By accurately measuring, improving, and predicting skill growth, SounderGrad is trusted by students to make them ready for the corporate world and land their dream job. Companies trust us to get them good candidates.
    </p>
    <br><br>
   <h3 style=text-align:center;>
       Thanking You for visting..!!!
   </h3>
<br><br>
<br><br>
    <div class="follow text-center">
        <h4>Follow Us</h4>
        <a href="#">Facebook</a>
        <a href="#">Youtube</a>
        <a href="#">Instagram</a>
        <a href="#">Twitter</a>
    </div>

</section>